*{
    margin: 8px;
    padding: 8px;
}

.nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    align-items: center;
    background-color: black;

}
.nav li img{
    width: 180px;
}
.nav li ul{
    display: flex;
    list-style-type: none;
}
.nav li ul li a{
    text-align: none;
    margin: 20px;
    color: yellow;

}